.link {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr;
  align-items: center;

  width: 70%;
  padding: 1.3em;
  margin: 1em auto;

  p {
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  button {
    padding: 1em;
  }

  &__edit {
    padding: 1em;
  }
}
